<%= form_with(model: @xclone, local: true, url: choose_new_or_edit, data: {turbo: false}) do |form| %>
  <% if @xclone.errors.any? %>
    <div id="error_explanation">
      <h2><%= @xclone.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @xclone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="xclone_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "投稿一覧画面にもどる", xclones_path %>