<!DOCTYPE html>
<html>
  <head>
    <title>Bigtask2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tops", "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= image_tag("Xclone.jpg", width: "100%", height: "300") %>
    <%= yield %>
  </body>
</html>
